.image-container {
    display: grid;
    background-image: url('transparent_image.png'); /* 初始透明图片 */
    grid-template-columns: repeat(3, 64px);
    grid-template-rows: repeat(3, 64px);
}

.image {
    width: 64px;
    height: 64px;
    background-size: cover;
    transition: background 0.3s ease-in-out;
}

/* #image_1 { background-image: url('learn/gen/image_1.jpg'); }
#image_2 { background-image: url('learn/gen/image_2.jpg'); }
#image_3 { background-image: url('learn/gen/image_3.jpg'); }
#image_4 { background-image: url('learn/gen/image_4.jpg'); }
#image_5 { background-image: url('learn/gen/image_5.jpg'); }
#image_6 { background-image: url('learn/gen/image_6.jpg'); }
#image_7 { background-image: url('learn/gen/image_7.jpg'); }
#image_8 { background-image: url('learn/gen/image_8.jpg'); }
#image_9 { background-image: url('learn/gen/image_9.jpg'); } */

.image:hover {
    filter: brightness(80%);
}
