.image-container {
    width: 192px;
    height: 192px;
    display: grid;
    background-image: url('learn/gen/transparent_image.png'); /* 初始透明图片 */
    grid-template-columns: repeat(3, 64px);
    grid-template-rows: repeat(3, 64px);
}

.image {
    width: 64px;
    height: 64px;
    background-size: cover;
    background-image: url('learn/gen/transparent_image.png'); 
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease-in-out;
}


.image:hover {
    filter: brightness(50%);
    transform: scale(1.1); /* 10% larger */
}

